BasedOnStyle: Google

BreakBeforeBraces: Attach # Chaves na mesma linha.
IndentWidth: 4
UseTab: Never
ColumnLimit: 0             # Não quebra linhas muito longas.
AllowShortIfStatementsOnASingleLine: true
PointerAlignment: Right # '*' de ponteiros ao lado da variável.
